@import url('https://fonts.googleapis.com/css?family=Roboto');

$color_orange: #f75311;
$color_dark_blue: #374249;
$font_color: #797979;	
$headline_color: #374249;	
$grey_hover: #cfd1d3;	
$grey_section_bkg: #f3f7f9;
$blue_section_bkg: lightblue;
$main_font: 'Roboto', sans-serif;

$font_color_w: white;
	