@import 'imports/var';
@import 'imports/mixin';

*{
    font-family: $FontFamily;
}
html, body{
    @include fullDimensions;
}

body{
    margin: $centered;
}

header{
    @include header(){

        @include navigation(horizontal){
            nav.navHorizontal{
                ul{
                    li:first-child{
                        width: 20%;
                        background: $narandzasta;
                    }
                }
            }
        }
    }
}
main{
    @include main(){

    }

    section.coverImg{
        background: url('../slike/intro.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20% 0 5% 0;

        div.textHolder{
            background: rgba(30, 30, 30, .5);
            width: 50%;
            text-align: center;
            margin: $centered;
            color: #FFFFFF;

            h1{
                margin: $centered;
                padding: .5%;
            }
        }
    }
}


@media screen and (max-width:768px){
    header{
        nav.navHorizontal{
            ul{
                li{
                    width: 100%;
                    clear: both;
                    text-align: center;
                    padding: 2% 0;

                    &:first-child{
                        width:100%;
                        text-align: left;
                        padding: 2%;
                    }
                }
            }
        }
    }

    main{
        section.coverImg{
            background: #000000;
            padding: 5% 0 5% 0;
            div.textHolder{
                width: 100%;
                background: none;
            }
        }
    }
}