@import 'vars';
@import 'mixins';


@include main;

body {
    height: 100%;
}
.mainNav {
    height: 3em;
    .navbar {
        background: $color_dark_blue;
        float: left;
        height: 100%;
        width:100%;
        .navlist {
            list-style: none;
            .location {
                background: $color_orange;
                padding-bottom: 1em;
                width: 15%;
                margin-left: 0;
                a {
                    color: $font_color_w;
                    text-decoration: underline;
                     img {
                    height: 2em;
                    padding-top: 1em;
                }
            }
            }
            li {
                display: inline-block;
                text-align: center;
                margin:0 2em;
                a {
                    color: $font_color_w;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.intro {
    position: relative;
    height: 30em;
    background: url(../slike/intro.jpg) no-repeat center center;
    background-size: cover;
    .welcome{
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%,-50%);
        width:60%;
        color: $font_color_w;
        text-align: center;
        background: grey;
        opacity: 0.8;
        h1 {
            font-size: 48px;
        }
    }
}
.option {
    height: 4em;
    .filters {
        list-style: none;
        float: right;
        margin: 1em 3em;
        li {
            display: inline-block;
            text-align: center;
            border: 1px solid grey; 
            border-radius: 20px;
            margin-right: 2em;
            padding: 0.5em;
                &:hover {
                   background: $grey_hover;
                   }
            a {
               color: $font_color;
               text-decoration: none;
               padding: 2em;
               font-size: 10px;
               &:hover {
                color: $font_color_w;
               }
               
            }
        }
    }
}
.pics {
    background: $blue_section_bkg;
    .picContainer {
        width: 80%;
        margin: 0 auto;
        .box{
            width:200px;
            height: 300px;
            margin: 1em;
            overflow: hidden;
            display: inline-block;
        }
        img {  
            height: 100%;
        }
            }
        }
.price {
    position: relative;
    height: 25em;
    text-align: center;
    color: $headline_color;
    h2 {
        padding: 1em;
    }
    .dummy {
        display: none;
    }
    table {      
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,-50%);
        width: 40%;
        border-collapse: collapse;
        td {
            border: 1px solid $grey_hover;
            padding: 6px;
        }
        #orange {
            background: $color_orange;
            color: $font_color_w;     
        }
        #grey {
            background: $color_dark_blue;
            color: $font_color_w;           
        }
        #empty {
            border: none;
        }
    }
}
.bottom {
    background: $blue_section_bkg;
    text-align: center;
    color: $headline_color;
    height: 25em;
    .contact {
        width: 70%;
        margin: 0 auto;
        h2 {
            padding: 2em;
        }
        .map {
            float: left;
            width: 40%;
        }
        .contactForm {
            float: left;
            width: 60%;
            background: $color_orange;
            select {
                float: left;
                width:30%;
                padding: 6px;
                margin: 1em;
            }
            .contactInputI {
                float: right;
                width: 55%;
                padding: 6px;
                margin: 1em;
            }
            .contactInputII {
                width: 95%;
                padding: 6px;
                margin: 1em;
            }
            textarea {
                width: 95%;
                padding: 6px;
                margin: 1em;
            }
        }
    }
}
footer{
    color: $font_color_w;
    clear: both;
    text-align: center;
    background: $color_dark_blue;
    height: 3em;
    font-size: 12px;
    .copyright {
        padding: 1em;
    a {
        color: $color_orange;
        text-decoration: none;
    }
}
}
@media screen and (max-width: 768px) {
    .pics {
        .picContainer  {
            width: 100%;
            image {
                width: 50%;
            }
        }
    }
    .bottom {
        height: 30em;
        .contact {
            .map {
                float: none;
                width: 80%;
                margin: 0 auto;
            }
            .contactForm {
                float: none;
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .mainNav {
        height: auto;
        .navbar {
            float: none;
            .navlist {
                .location {
                    width: 100%;
                    text-align: left;
                    padding-top: 0;
                }
                li {                    
                    text-align: center;
                    width: 100%;
                    display: block;
                    padding: 1em;
                    margin-left: 0;
                }
            }
        }
    }
    .intro {
        background: black;
        height: 20em;
        .welcome {
            width: 100%;
            background: black;
            color: $font_color_w;
            opacity: 1;
        }
    }
    .pics {
        .picContainer  {
            width: 100%;
               .box {
                display: block;
                width: 100%;
            }
        }
    }
    .option {
        .filters {
            float: none;
            li {
                margin-right: 1em;
                a{
                    padding: 0;
                }
            }
        }
    }
    .price {
        height: 15em;
        .dummy {
            display: block;
            border: 1px solid gray;
            border-radius: 20px;
            width: 25%;
            margin: 4em auto;
            &:hover + table {
                display: block;
                margin: -12em auto;
            }
        }
        table {
            display: none;
        }
    }
    .bottom {
        height: auto;
        .contact {
             width: 95%;
            .contactForm {
                select {
                    width: 95%;
                    float: none;
                }
                .contactInputI {
                    width: 95%;
                    float: none;
                }
           }    
        }
    }
}
