// PROMENLJIVE
@import url('https://fonts.googleapis.com/css?family=Roboto');

//BOJE
$narandzasta: #f75311;
$tamnoPlava: #374249;
$titleColor: #374249;
$buttonHover: #cfd1d3;
$sectionColor: #f3f7f9;

//FONT
$FontSize: 16px;
$FontFamily: 'Roboto', sans-serif;
$FontColor: #797979;
$centered: 0 auto;
$lineHeight: 1px;
$hundredPercent: 100%;

//DISPLAY
$block: block;
$inlineBlock: inline-block;

//Header
$headerBackground: #374249;
$headerMargine: $centered;
$headerPadding: 0;
$headerWidth: 100%;
$headerHeight: auto;
$headerColor: #FFFFFF;

//Navigation
$navBackground: transparent;
$navMargine: $centered;
$nevPadding: 0;

    //Navigation -> ul
    $navUlBackground: transparent;
    $navUlMargine: $centered;
    $navUlPadding: 0;

        //Navigation -> ul -> li
        $navLiBackground: transparent;
        $navLiMargine: $centered;
        $navLiPadding: 2%;

            //Navigation -> ul -> li:hover + li:hover>a
            $navHoverBackground: transparent;
            $navHoverColor: #CCCCCC;
            $navHoverCursor: pointer;

            //Navigation -> ul -> li -> a
            $navColorLink: #FFFFFF;


//Main
$mainBackground: #005555;
$mainMargine: $centered;
$mainPadding: 0;
$mainWidth: 70%;
$mainHeight: auto;
$mainColor: #FFFFFF;
$mainFontFamily: $FontFamily;


//Footer
$footerBackground: #001166;
$footerMargine: $centered;
$footerPadding: 0;
$footerWidth: 100%;
$footerHeight: 300px;
$footerColor: #FFFFFF;

//Aside
$asideWidth: 30%;
$asideHeight: auto;
$asideBackground: #ffcc00;
$asideMargin: $centered;
$asidePadding: 0;
$asideColor: $FontColor;