@import '../helpers/variables';
@import '../helpers/mixins';

.container {
    width: 70%;
    margin: $centerMargin;
}

// HERO ========================================================
main section#hero {
    text-align: center;

    .heroContent {
        background-color: black;
        padding: .5em 5.2em 2em 5.2em;

        h1,
        h2 {
            color: $color-white;
            font-weight: 400;
        }

        h1 {
            font-size: 3em;
            line-height: 1.2em;
        }
    }
}

// HERO MEDIA QUERY
@include tablet {
    main section#hero {
        width: 100%;
        height: 50vh;
        padding: 10vh 0;
        background-image: url('../../slike/intro.jpg');
        background-size: cover;
        background-position: center;

        .heroContent {
            width: 70%;
            position: absolute;
            bottom: 40%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba($color: $color-head-foot, $alpha: .7);
            padding: .5em 3em;
        }
    }
}

// FILTERS ========================================================
.filters {
    background-color: $color-white;
    height: 5em;

    .container-filter {
        width: 100%;
        text-align: center;
        padding-top: 1em;

        .btn {
            border: 1px solid $color-fonts;
            padding: .8em 1em;
            border-radius: 30px;
            background-color: $color-bkg;
            color: $color-fonts;
            margin: 0 1em;
            cursor: pointer;

            &:hover {
                color: $color-white;
                background-color: $color-fonts;
            }
        }
    }
}

// FILTERS MEDIA QUERY
@include tablet {
    .filters {
        height: 7em;

        .container-filter {
            width: 90%;
            text-align: right;

            button {
                margin: 1em;
            }
        }
    }
}

// GALERY ========================================================
#galery {
    background-color: $color-bkg;
    padding: 4em 0;
    text-align: center;

    .container {
        width: 90%;

        figure {
            position: relative;
            height: 300px;
            margin-bottom: 2em;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover>figcaption {
                display: block;
            }

            figcaption {
                display: none;
                position: absolute;
                width: 100%;
                background-color: rgba($color-white, .8);
                height: 4em;
                top: 0;
                color: #000;
                text-align: left;
                font-size: 2em;
                padding: .3em;

                span {
                    display: block;
                }
            }
        }
    }
}

// GALERY MEDIA QUERY

@include tablet {
    #galery {
        .container {
            width: 80%;

            figure {
                width: 47%;
                display: inline-block;
                height: 40vh;
                margin: .5em;
            }
        }
    }
}

@include desktop {
    #galery {
        .container {
            text-align: left;
            width: 80%;

            figure {
                width: 23%;
                height: 300px;
                display: inline-block;
                margin: 1em 0.8%;

                figcaption {
                    font-size: 1.5em;
                }

                &:nth-of-child(5) {
                    float: left;
                }
            }
        }
    }
}


// PRICING =====================================================

.pricing .container {
    text-align: center;
    padding: 4em 0;

    h1,
    p {
        color: $color-headings;
        margin: 0 0 1em 0;
    }

    p {
        margin-bottom: 3em;
    }

    h1 {
        text-transform: uppercase;
        font-size: 2em;
    }

    table {
        display: none;
        width: 100%;
        border-spacing: 0;

        .disabled {
            border: none;
        }

        td,
        th {
            padding: 1em;
            margin: 0;
            border: 1px solid $color-fonts;
        }

        th {
            background-color: $color-orange;
            color: $color-white;
            font-weight: normal;


        }

        td.dark {
            background: $color-headings;
            color: $color-white;
            font-weight: bold;
        }
    }

    .btn {
        border: 1px solid $color-fonts;
        padding: .8em 1em;
        border-radius: 30px;
        background-color: $color-bkg;
        color: $color-fonts;
        cursor: pointer;

        &:hover {
            color: $color-white;
            background-color: $color-fonts;
        }
    }
}

// PRICING MEDIA QUERY
@include tablet {
    .pricing .container {
        table {
            display: table;
        }

        button {
            display: none;
        }
    }
}