// media query
$tablet-width: 768px;
$desktop-width: 1024px;

// boje
$color-orange: #f75311;
$color-head-foot: #374249;
$color-fonts: #797979;
$color-headigns: #374249;
$color-hover-button: #cfd1d3;
$color-bkg: #f3f7f9;

// font
$font: 'Roboto', sans-serif;

// ostalo
$centerMargin: 0 auto;